<!-- Cabecero -->
<div class="container-fluid bg-red">
  <div class="row">
    <div class="col-10 text-center d-flex justify-content-center align-items-center">
      <h1 class="h1-principal text-center text-white fw-bold">
        Escuderias y pilotos de F1 2022
      </h1>
    </div>
    <div class="col">
      <img src="../assets/logo.png" class="img-fluid d-block mx-auto" width="400" height="auto" alt="logo" />
    </div>
  </div>
</div> <!-- /Cabecero -->

<!-- Selector -->
<div class="container">
  <div class="row">
    <div class="col">
      <select class="form-select border border-primary border-3" aria-label="Default select example"
        [(ngModel)]="opcionSelecionada">
        <option selected>Escuderias</option>
        <option>Pilotos</option>
      </select>
    </div>

    <!-- Boton -->
    <div *ngIf="autenticado; else iniciaSesion" >
      <div class="col"> 
        <button class="btn btn-primary btn-lg btn-block" (click)="cerrarSesion()">
          Cerrar sesión
        </button>
        <button class="btn btn-primary btn-lg btn-block" routerLink="/edicion-pilotos">
          Editar Pilotos
        </button>
        <button class="btn btn-primary btn-lg btn-block" routerLink="/edicion-escuderias">
          Editar Escuderias
        </button>
      </div>
    </div>
    <ng-template #iniciaSesion>
      <div class="col"> 
        <button class="btn btn-primary btn-lg btn-block" (click)="inicioSesion()">
          Iniciar sesión
        </button>
      </div>  <!-- /Boton -->
    </ng-template>

  </div>
</div> <!-- Fin Selector -->

<!-- Contenedor de la escuderia -->
<div *ngIf="opcionSelecionada == 'Escuderias'">
  <div class="container mt-5 border border-dark border-2 bg-gray" *ngFor="let datos of datosEscuderias">
    <div class="row">

      <!-- Columna de la info de la escuderia -->
      <div class="col">
        <table class="table table-borderless h-100 table-secondary table-striped">
          <thead>
            <tr class="">
              <th scope="col">
                <h4 class="text-uppercase">{{ datos.nombre }}</h4>
              </th>
              <th scope="col">
                <img src="../assets/logosEquipos/{{ datos.nombre }}.jpg" class="img-fluid" width="75" height="auto"
                  alt="logo{{ datos.nombre }}" />
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">Jefe De Equipo</th>
              <td>{{ datos.nombre }}</td>
            </tr>
            <tr>
              <th scope="row">Sede</th>
              <td>{{ datos.sede }}</td>
            </tr>
            <tr>
              <th scope="row">Chasis</th>
              <td>{{ datos.chasis }}</td>
            </tr>
            <tr>
              <th scope="row">Motor</th>
              <td>{{ datos.motor }}</td>
            </tr>
            <tr>
              <th scope="row">Campeonatos</th>
              <td>{{ datos.campeonatos }}</td>
            </tr>
            <tr>
              <th scope="row">Pole Position</th>
              <td>{{ datos.poles }}</td>
            </tr>
            <tr>
              <th scope="row">Pilotos</th>
              <td><p> {{ datos.pilotos[0] }} / {{datos.pilotos[1]}} </p> </td>
            </tr>
          </tbody>
        </table>
      </div> <!-- /Columna de la info de la escuderia -->
      

    </div>
  </div>
  
</div> <!-- Fin Contenedor de la escuderia -->

<!-- Mostrando solo los pilotos -->
<div class="container w-50 bg-gray" *ngIf="opcionSelecionada == 'Pilotos'">

  <div class="row">

    <div class="col bg-success" *ngFor="let dataP of datosPilotos">
      <img src="../assets/pilotos/{{ dataP.nombre }}.jpg" class="img-fluid" width="300" height="300" alt="piloto1" />

      <table class="table table-borderless">

        <body class="w-100 bg-gray">
          <tr>
            <th>Nombre</th>
            <td>{{ dataP.nombre }}</td>
          </tr>
          <tr>
            <th>Edad</th>
            <td>{{ dataP.nacimiento | Edad }}</td>
          </tr>
          <tr>
            <th>Pais</th>
            <td>{{ dataP.pais }}</td>
          </tr>
          <tr>
            <th>Campeonatos</th>
            <td>{{ dataP.campeonatos }}</td>
          </tr>
          <tr>
            <th>Victorias</th>
            <td>{{ dataP.victorias }}</td>
          </tr>
          <tr>
            <th>Podios</th>
            <td>{{ dataP.podios }}</td>
          </tr>
          <tr>
            <th>Pole Positions</th>
            <td>{{ dataP.poles }}</td>
          </tr>
          <tr>
            <th>Equipo</th>
            <td>{{ dataP.equipo }}</td>
          </tr>
          <tr>
            <th>Numero coche</th>
            <td>{{ dataP.numero_coche }}</td>
          </tr>
        </body>
      </table>
    </div>
  </div>
</div>

<!-- Termina mostrando solo los pilotos -->


