:host {
    display: block;
}

.bg-red{
    background-color: #f80000;
}

.bg-gray{
    background-color: #D3D3D3;
}


.h1-principal{
    font-size: 4rem;
    font-family: 'Secular One', sans-serif;
}
